<html>
<link rel="stylesheet" type="text/css" href="/css.css">
<link rel="shortcut icon" href="/{{env['LOGO'].val}}" type="image/png">

{% block dump %}
<div id=dump>
    <pre>{{ env.dump() }}</pre>
</div>
{% endblock %}

{% block cli %}
<form id=cli method=post onkeypress="ctrlEnter(event, this);">
    {{form.hidden_tag()}}
    {{form.pad()}}
    {{form.go()}}
</form>
{% endblock %}

<script>
{% block script %}
function $(elemid) { return document.getElementById(elemid);        }
function $$(tagid) { return document.getElementsByTagName(strTag);  }

function ctrlEnter(event, form) {
    if((event.ctrlKey) && ((event.keyCode == 0x0A)||(event.keyCode == 0x0D)))
        form.go.click();
}

{% endblock %}
</script>

</html>